@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@400;600;700&family=Rubik:wght@400;600;700&family=Karla:wght@400;600;700&family=Space+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    --color-bkg1: 50deg 60% 98%;
    --color-bkg2: 50deg 32% 90%;
    --color-content1: 0deg 32.6% 50%;
    --color-content2: 50deg 32.6% 17.5%;
    --color-accent1: 0deg 32.6% 80%;
  }

  main[data-theme="dark"] {
    --color-bkg1: 50deg 60% 17.5%;
    --color-bkg2: 50deg 32% 17.5%;
    --color-content1: 50deg 32.6% 98%;
    --color-content2: 50deg 32.6% 90%;
  }
}

@layer components {
  .center {
    @apply flex flex-col items-center justify-center;
  }

  .btn {
    @apply px-6 py-3 rounded-full shadow hover:shadow-xl cursor-pointer duration-300 text-center text-lg;
  }

  .primary-btn {
    @apply btn bg-accent-1 border-2 border-accent-1;
  }

  .secondary-btn {
    @apply btn border-2 border-accent-1;
  }
}

body {
  color: var(--color-content1);
}

.font-space-mono {
  font-family: "Space Mono", monospace;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
}

.font-bangla {
  font-family: "Noto Serif Bengali", serif;
}

.font-karla {
  font-family: "Karla", sans-serif;
}
