@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@400;600;700&family=Rubik:wght@400;600;700&family=Karla:wght@400;600;700&family=Space+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bkg-1: #fdfcf7;
  --bkg-2: #f0eee2;
  --content-1: #272934;
  --content-2: #444; /* change */
  --content-3: #aaa; /* change */
  --content-4: #fdfcf7;
  --accent-1: #272934;
  --accent-2: #e36263;
}

.light {
  --bkg-1: #fdfcf7;
  --bkg-2: #f0eee2;
  --content-1: #272934;
  --content-2: #444; /* change */
  --content-3: #aaa; /* change */
  --content-4: #fdfcf7;
  --accent-1: #272934;
  --accent-2: #e36263;
}

.dark {
  /* change all */
  --bkg-1: #25293c;
  --bkg-2: #1f2335;
  --content-1: #fdfcf7;
  --content-2: #f0eee2;
  --content-3: #ccc;
  --content-4: #272934;
  --accent-1: #f0eee2;
  --accent-2: #e36263;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .bg1 {
    @apply bg-[var(--bkg-1)] duration-300;
  }

  .bg2 {
    @apply bg-[var(--bkg-2)] duration-300;
  }

  .content1 {
    @apply text-[var(--content-1)] duration-300;
  }

  .content2 {
    @apply text-[var(--content-2)] duration-300;
  }

  .content3 {
    @apply text-[var(--content-3)] duration-300;
  }

  .content4 {
    @apply text-[var(--content-4)] duration-300;
  }

  .content-highlight {
    @apply text-[var(--accent-2)];
  }

  .accent1 {
    @apply bg-[var(--accent-1)] duration-300;
  }

  .accent2 {
    @apply bg-[var(--accent-2)] duration-300;
  }

  .border-check {
    @apply border-[var(--accent-1)] duration-300;
  }

  .border-bkg-2 {
    @apply border-[var(--bkg-2)] duration-300;
  }

  .center {
    @apply flex flex-col items-center justify-center;
  }

  .auth-input {
    @apply px-3 py-2.5 bg1 rounded outline-none focus:outline-[var(--accent-1)] border-2 border-[var(--bkg-2)] focus:border-transparent content2;
  }

  .btn {
    @apply px-6 py-3 rounded-full shadow hover:shadow-xl cursor-pointer duration-300 text-center text-lg;
  }

  .primary-btn {
    @apply btn accent1 border-2 border-[var(--accent-1)] dark:border-[var(--accent-1)] content4;
  }

  .secondary-btn {
    @apply btn border-2 border-[var(--accent-1)] dark:border-[var(--accent-1)] content1;
  }
}

.font-space-mono {
  font-family: "Space Mono", monospace;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
}

.font-bangla {
  font-family: "Noto Serif Bengali", serif;
}

.font-karla {
  font-family: "Karla", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--content-3);
  opacity: 0.5;
  border-radius: 3px;
}
