@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@400;600;700&family=Rubik:wght@400;600;700&family=Karla:wght@400;600;700&family=Space+Mono:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-space-mono {
  font-family: "Space Mono", monospace;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
}

.font-bangla {
  font-family: "Noto Serif Bengali", serif;
}

.font-karla {
  font-family: 'Karla', sans-serif;
}